body {
    background-color:#333333;
}

.content {
    background-color: #888;
    background: linear-gradient(to bottom, rgba(187,187,187,1) 0%,rgba(136,136,136,1) 100%); 
    padding: 30px;
    margin-top: 30px;
    border-radius: 10px;
}

.content a:not(.btn) {
    color: #b14021! important;
    text-decoration: none;
}

.scroll{
	overflow: scroll;
	width: 500px;
	height: 500 px;
}
.admin .content {
    background-color: #888;
    padding: 30px;
    margin-top: 30px;
    border-radius: 0 10px 10px 0;
}

.admin .sidebar a:not(.btn) {
    color: #b14021;
}

.bg-primary {
    background-color: #137c00 !important;
}

.bg-secondary {
    background-color: #888888 !important;
}

.navbar .nav-item.active {
    border-bottom: 2px solid red;
}


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color:#b14021 !important;
    border-color:#8a3118 !important;
}

.btn.focus, .btn:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(80,80,80,.5);
    box-shadow: 0 0 0 2px rgba(80,80,80,.5);
}

.card-header {
    background-color:#127c02;
}

.card-block {
    background-color:#ffffff;
    color: #666;
}

.sidebar {
    background-color: #aaa;
    padding: 30px;
    margin-top: 30px;
    color: white;
}

.main-nav .navbar-brand {
    min-height:2em;
}

.navbar-brand-cobra {
    -webkit-filter: drop-shadow(2px 2px 2px #222 );
    filter: drop-shadow(2px 2px 2px #222);
    position: relative;
    width: 100px;
    height: 80px;
}

.navbar-brand-cobra img {
    position:absolute;
    top:-120px;
    left:10px;
}

input[name='is_player'][value='1']:checked + div {
    visibility:visible;
}

.player-form-hidden {
    visibility: hidden;
}

.player-form-container {
    
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

.card-columns > .card {
    min-height:400px;
}

table span {
    color: black !important;
}