body {
    background-color:#333333;
}

img {
    border-radius: 8px;
}

.btn-home {
    padding: 20px;
    background: white;
	border: 5px;
	border-color: #ae1920;
    color: #ae1920;
	width: 100%;
	height: 100px;
	opacity: 0.75;
}
.btn-home:hover{
    background-color: #ae1920;
	color: white;
	border: 0.5px;
	border-color: white;
    box-shadow: 0px 0.5px 0.5px #450a0c;
}
@import "compass/css3";

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}


.content {
    background-color: #888;
    background: linear-gradient(to bottom, rgba(187,187,187,1) 0%,rgba(136,136,136,1) 100%); 
    padding: 30px;
    margin-top: 30px;
    border-radius: 10px;
}

.content a:not(.btn) {
    color: #b14021! important;
    text-decoration: none;
}

.scroll{
	overflow: scroll;
	width: 500px;
	height: 500 px;
}
.admin .content {
    background-color: #888;
    padding: 30px;
    margin-top: 30px;
    border-radius: 0 10px 10px 0;
}

.admin .sidebar a:not(.btn) {
    color: #b14021;
}

.bg-primary {
    background-color: #137c00 !important;
}

.bg-secondary {
    background-color: #888888 !important;
}

.navbar .nav-item.active {
    border-bottom: 2px solid red;
}


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color:#b14021 !important;
    border-color:#8a3118 !important;
}

.btn.focus, .btn:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(80,80,80,.5);
    box-shadow: 0 0 0 2px rgba(80,80,80,.5);
}

.card-header {
    background-color:#127c02;
}

.card-block {
    background-color:#ffffff;
    color: #666;
}

.sidebar {
    background-color: #aaa;
    padding: 30px;
    margin-top: 30px;
    color: white;
}

.main-nav .navbar-brand {
    min-height:2em;
}

.navbar-brand-cobra {
    -webkit-filter: drop-shadow(2px 2px 2px #222 );
    filter: drop-shadow(2px 2px 2px #222);
    position: relative;
    width: 100px;
    height: 80px;
}

.navbar-brand-cobra img {
    width: 80px;
}

input[name='is_player'][value='1']:checked + div {
    visibility:visible;
}

.player-form-hidden {
    visibility: hidden;
}

.player-form-container {
    
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

.card-columns > .card {
    min-height:400px;
}

table span, table p {
    color: black !important;
}

table {
    margin-top:0;
    margin-left: 0 !important;
    margin-right: 0;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 100%;
    color: #333;
}

table td {
    width: auto;
}

.content > span, .content p span {
    color: white !important;
}


.club-team-row {
    float: left;
    padding: 15px 10px;
    width: 100%;
}

.club-team-list .even {
    background: none repeat scroll 0 0 #f2f2f2;
}

.club-team-row .even, .club-team-row .odd {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.previous-comps {
    border-bottom: 0 none;
    margin: 0 0 0 10px;
    padding: 0;
    width: 95%;
}
.club-team-row h3 {
    float: left;
    font-size: 15px;
    font-weight: 400;
    width: 60%;
}
.club-team-row h3 a {
    margin: 0 10px 0 0;
}
.previous-comps h3 {
    clear: both;
    font-size: 11px;
    font-weight: 400;
    width: auto;
}
.previous-comps h5 {
    clear: both;
    font-weight: 400;
    margin: 0;
}
.club-team-frl {
    float: right;
}
.club-team-frl a {
    font-size: 12px;
    font-weight: 400;
    padding: 5px 10px;
    text-transform: uppercase;
}

.fa-facebook {
	background: #3B5998;
	color: #FFFFFF;
    padding: 0.05em 0.3em;
    font-size: 4em;
}
.fa .fa-facebook {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa .fa-facebook {
    opacity: 0.7;
}
