body {
    background-color:#333333;
}

.content {
    background-color:white;
    padding:5px;
    margin-top: 12px;
}

.bg-primary {
    background-color: #416135 !important;
}

.bg-secondary {
    background-color: #666666 !important;
}